@page
@model AmazingBargain.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Create Product";
}

<h1>Add Product to site </h1>

<form method="post">
    <div>
        <label>Name:</label>
        <input asp-for="Product.Name" />
    </div>
    <div>
        <label>Description:</label>
        <textarea asp-for="Product.Description"></textarea>
    </div>
    <div>
        <label>Price:</label>
        <input asp-for="Product.Price" />
    </div>
    <div>
        <label>Image URL:</label>
        <input asp-for="Product.ImageUrl" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
    
</form>
